<div class="card">
  <div class="imgBx">
    <a href="/details/<%= watch.id%>"><img src="https://image.tmdb.org/t/p/w500/<%= watch.poster_path%>"></a>
  </div>
  <div class="content">
    <h2><%= watch.title %></h2>
    <p><%= watch.overview %></p>
  </div>
</div>