
<%- include('./header'); %>
<div class="principal">

  <div id="sidemenu" class="menu-expanded">
    <!-- Navbar o header -->
    <div id="header">
      <div id="title"><span>Verq</span></div>
      <!-- <div id="menu-btn">
        <div class="btn-menu"></div>
        <div class="btn-menu"></div>
        <div class="btn-menu"></div>
      </div> -->
    </div>

    <!-- Profile -->
    <div id="profile">
      <!-- Para ubicar la imagen del usuario  -->
      <!-- <div id="photo"><img src="../../resources/img/profile.jpeg" alt="perfil"></div> -->
      <!-- <a id="name" href="/profile">editar perfil</a> -->
      <div id="name"><span><%= user.name %></span>&nbsp;<span><%= user.surname %></span></div>
      <a id="name" class="" href="/logout">Salir</a>
    </div>

    <!-- items -->
    <div id="menu-items">

      <div class="item" id="dashboard">
        <a class="link" href="/">
          <div class="icon"><img src="../../resources/img/icons8-dashboard-layout-material-outlined/icons8-dashboard-layout-48.png"></div>
          <div class="title">Dashboard</div>
        </a>
      </div>

      <div class="item" id="todo">
        <a class="link" href="/all">
          <div class="icon"><img src="../../resources/img/icons8-carrete-de-película-material-outlined/icons8-carrete-de-película-48.png"></div>
          <div class="title">Todo</div>
        </a>
      </div>

      <div class="item" id="agregar-usuario">
        <a class="link" href="/registration">
          <div class="icon"><img src="../../resources/img/icons8-añadir-usuario-masculino-material-outlined/icons8-añadir-usuario-masculino-48.png"></div>
          <div class="title">Agregar usuario</div>
        </a>
      </div>

      <div class="item" id="ver-usuarios">
        <a class="link" href="/users">
          <div class="icon"><img src="../../resources/img/icons8-lista-material-outlined/icons8-lista-48.png"></div>
          <div class="title">Usuarios</div>
        </a>
      </div>
    </div>

  </div>

</div>

<script>
  const btn = document.querySelector('#menu-btn');
  const menu = document.querySelector('#sidemenu');

  // margin-left: var(--width-collapsed);

  btn.addEventListener('click', e => {
    menu.classList.toggle('menu-expanded');
    menu.classList.toggle('menu-collapsed');

    document.querySelector('principal').classList.toggle('body-expanded')
  });

</script>