

<h1>Pagina principal</h1>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(typeof alert != "undefined"){%>

  <script>
    Swal.fire({
      width: 'auto',
      padding: '',
      title: '<%= alertTitle %>',
      icon: '<%= alertIcon %>',
      showConfirmButton: '<%= showConfirmButton %>',
      timer: '<%= timer %>',
    })
  </script>
  <% } %>