<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

  <title>Document</title>
  
    <link rel="stylesheet" href="../resources/css/navBar.css">
    <link rel="stylesheet" href="../resources/css/header.css"> 

  <!-- inicio-archivos css -->
  <link rel="stylesheet" href="../resources/css/style.css">
  <link rel="stylesheet" href="../resources/css/login.css">
  <link rel="stylesheet" href="../resources/css/register.css">
  <link rel="stylesheet" href="../resources/css/users.css">
  <link rel="stylesheet" href="../resources/css/all.css">
  <link rel="stylesheet" href="../resources/css/details.css">
  <link rel="stylesheet" href="../resources/css/navBar.css">
  <!-- fin-archivos css -->
</head>

<body>
  <!-- incio- templates a renderizar -->
  <%- body %>
  <!-- fin- templates a renderizar -->

</body>
</html>