@charset "utf-8";


.div-row-content-user{
  display: flex;
  flex-direction: column;
  padding: 0px 20px 60px 20px;
}

.div-row-content-user .div-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-bottom: 10px
}

.div-row-user-item1{
  background-color: rgb(182, 184, 199);
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.div-row-user-item1 a{
  width: 100%;
  padding: 10px;
  background-color: #1D4ED8;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size:small;
  color: #ffffff;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}

.div-row-user-item1 a:hover{
  background-color: #234ab4;
}


/* .div-row-user-item2{
  width: 100%;
  margin: 0 auto; 
  padding: 0px 20px 60px 20px;
  text-align: left !important;
} */

.div-row-user-item1 input[type="search"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  /* separar cuando este flotanto sobre cntenido */
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing:border-box;
}


/* form User Registration */
.users-table{
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 0px; 
  text-align: left !important;
  /* box-shadow: 0 0 2px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);  */
}

.users-table h1 {
  text-align: center;
  color:black ;
  font-size: 22px;
  padding: 20px 0 10px 0;
}
/* .rusers-table input[type="password"],
.rusers-table input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing:border-box;
} */

table {
  font-size: 14px;  
  width: 450px;
  margin: 0 auto;
  text-align: left !important;
  border-collapse: collapse;
  padding: 0px 20px 60px 20px;
  margin-top: 0px; 

}

th {     
  font-size: 18px;     
  font-weight: normal;     
  padding: 8px;     
  background: white;
  border-top: 4px solid white;    
  border-bottom: 1px solid #fff; 
  color: black; 
}

td {    
  padding: 8px;     
  background: white;     
  border-bottom: 1px solid #fff;
  color: black;    
  border-top: 1px solid transparent; 
}

tr:hover td {
  background: white; 
  color: #339; 
}

